$font-family: Lato;
// https://medium.com/envato/49-color-schemes-for-2017-bd9660e4f39d
$primary-color: #01395e;
$secondary-color: #0091cf;
$accent-color: #fd4445;
$accent-secondary-color: #ffaf00;
$base-color:#ffffff;